@charset "utf-8";
.ajax-status{
    width: 35px;
    height: 35px;
    position: fixed;
    margin-left:  50%;
    margin-top: 200px;
}
.disk{
    width: 16px !important;
    height: 16px !important;
    background-image: url(../image/disk-icon-16.png)!important;
    
}

h1{
    color: red;
}
#relogio{
    text-align: right;
    margin-right:  20px;
}
#bottom{
    padding: 100px;   
    border: 10px;
    border-color: #D20005;
}
body{
    padding: 10px;
    font-size: 10px;
    font-family: Arial, Helvetica,sans-serif;
    background-color: beige;
    
}
footer{
    padding: 0px 8px;
}
#divLogin{
    margin: auto;
    width: 320px;
    margin-top: 150px;
    border-color: darkgreen;
    border: 1px;
}
#frmLogin{
    padding: 10px;
    background-color: beige;
    border-radius: 8px;
    border: 1px solid #D20005;
    box-shadow: 5px 5px 5px beige;
}

.frmGrande{
    padding: 10px;
    background-color: beige;
    border-radius: 8px;
    border: 1px solid #D20005;
    box-shadow: 5px 5px 5px beige;
}
.rotulo{
    font-size: x-large;
    text-align: right;
    width: 230px;
}
.mini-btn{
    height: 20px;
    width: 20px;
    margin-left: 10px;
}
